#navbarmaindiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 10px;
    flex-wrap: wrap;
    border-bottom: 2px solid #9b92e6;
}

#image1 {
    height: 40px;
    margin-top: 10px;
}

.divlogo1 {
    margin-left: 25px;
}

.divloginsignupbutton {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.buttonlogin {
    padding: 10px;
    border: none;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}
.intershipbutton {
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(255 240 186);
    color: orange;
    border: 1px solid orange;
    outline-color: orange;
    padding: 12px;
    border-radius: 30px;
}

@media screen and (max-width:480px) {
    #navbarmaindiv {
        display: none;
    }

}