.thirdpartcontainer {
    margin: auto;
    margin-top: 8rem;
}

.headincontainer {
    margin-left: 20px;
    margin-bottom: 10px;
    color: #fff9f9;
    font-family: "Barlow", sans-serif;
    font-size: 22px;
}

.headincontainer p {
    font-size: 16px;
}

.thirdparsecondcontainer {
    border-radius: 20px;
    background: white;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 40px;
}

.iconimage {
    border-radius: 50px;
    margin-left: 6rem;
    background: linear-gradient(to top, #ffffff, #e6f0fa);
}

.divblockreactangle img {
    width: 40rem;
    height: 30rem;
    margin: 20px;
    border-radius: 15px;
}

.internwithus {
    padding: 15px;
    background-color: black;
    border: none;
    border-radius: 15px;
    color: #e2e8f0;
    font-size: 15px;
    margin-left: 20px;
}

.vectorline {
    position: relative;
    left: 30px;
}

.divblockcontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* background: ; */
    width: 100%;
    border-radius: 20px;
    /* background-color: o; */
    background-image: linear-gradient(to right, white, #5d5d5d);
}

.headingblock {
    margin: auto;
    font-size: 25px;
    color: #30404D;
}

.contentpara {
    color: #394B59;
    font-weight: 200;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.fourtpartcontainer {
    display: flex;
    justify-content: center;
}

.card {
    border: 2px solid #e2e8f0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    background-color: #ffff;
    padding: 30px;
    color: #30404D;
    font-family: "Barlow", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-ribbon {
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: 178px;
    width: -webkit-fill-available;
    justify-content: space-between;
}
.buttonstrategy{
    border: none;
    background-color: #98A8B3;
    color: #FFD43B;
    padding: 10px;
    border-radius: 20px;
    margin-top: 40px;
}
.ribbon {
    position: relative;
    top: 132px;
    left: 25.3rem;
    z-index: 1;
}

.div-business {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonservice {
    border: none;
    background: transparent;
    color: #FFD43B;
    padding: 10px;
    position: relative;
    top: 60px;
    right: 10.5rem;
    font-size: 18px;
}

.priceh1 {
    margin: 0px;
    padding: 0px;
    color: #3A7ABD;
    font-size: 40px;
}

.pricecontainer {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pricecontainer p {
    color: #98A8B3;
    padding: 0px;
    margin: 0px;
}

.listcontainer {
    display: flex;
    margin-top: 20px;
}

.listcontainer h6 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 15px;
}

.list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list p {
    margin-top: 10px;
    font-size: 15px;
    width: 17rem;
}

.list img {
    margin-right: 10px;
}

.buttonsignupforstarter {
    background: none;
    border-radius: 25px;
    padding: 15px;
    width: -webkit-fill-available;
    color: #244779;
    border: 1px solid #244779;
    margin-top: 5rem;
}

@media screen and (max-width:480px) {
    .thirdpartcontainer {
        display: none;
    }

}