.thirdpartcontainer {
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.fourtpartcontainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    border: 2px solid #e2e8f0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    background-color: #ffff;
    padding: 30px;
    color: #30404D;
    font-family: "Barlow", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-ribbon {
    display: flex;
    align-items: flex-end;
    position: relative;
    bottom: 178px;
    width: -webkit-fill-available;
    justify-content: space-between;
}

.ribbon {
    position: relative;
    top: 132px;
    left: 25.3rem;
    z-index: 1;
}

.div-business {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonservice {
    border: none;
    background: transparent;
    color: #FFD43B;
    padding: 10px;
    position: relative;
    top: 60px;
    right: 10.5rem;
    font-size: 18px;
}

.listcontainer {
    display: flex;
    margin-top: 20px;
}

.listcontainer h6 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 15px;
}

.list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list p {
    margin-top: 10px;
    font-size: 15px;
    width: 17rem;
}

.list img {
    margin-right: 10px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

.divfutureblock {
    display: flex;
    flex-wrap: wrap;
    background-color: #e6e6f4;
    padding: 20px;
    justify-content: space-around;
}

.divdetailsfuture {
    display: flex;
    flex-direction: column;
}

.divdetailsfuture h1 {
    font-size: 50px;
}

.divdetailsfuture p {
    color: #3d3c3c;
}

ul {
    color: #3d3c3c;
    list-style: none;
    margin-top: 20px;
    padding: 0px;
    width: 40rem;
}

li {
    display: flex;
    align-items: center;
    margin: 10px;
}

.buttoninternus {
    width: fit-content;
    padding: 12px;
    border: none;
    border-radius: 15px;
    background-color: #0d6efd;
    color: white;
}

.imagestartup {
    width:30rem; 
    filter: drop-shadow(2px 4px 6px black);
}

@media screen and (max-width:480px) {
    .divdetailsfuture h1 {
        font-size: 31px;
    }

    ul {
        width: auto;
    }

    .imagefuture {
        width: 24rem;
    }
    .card {
        width: 24rem;
    }
    .imagestartup{
        width: 22rem;
    }
    .startupheading{
        font-size: 26px;
    }
    .listcontainer{
        flex-direction: column;
    }
    .ribbon{
        left: 14.3rem;
    }
    .buttonservice{
        right: 7.5rem ;
    }
}