.chatboxborde {
    border: 1px solid black;
    background-color: #33475B;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    position: fixed;
    bottom: 4px;
    right: 5px;
    cursor: pointer;
}

.chatboxpop {
    box-shadow: 0px 0px 5px -2px;
    border-radius: 10px;
    width: max-content;
    position: fixed;
    bottom: 80px;
    right: 15px;
    position: fixed;
    bottom: 80px;
    right: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    z-index: 1;
}

.allienuser {
    position: absolute;
    bottom: 5.8rem;
}

.welcomecontext {
    padding: 10px;
}

.closebutton {
    display: flex;
    justify-content: flex-end;
}
.messagecard {
    border: none;
    width: max-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-family: "Barwol", 'Helvetica';
    background-color: #EEEEEE;
    position: fixed;
    bottom: 75px;
    right: 10px;
}

.messagecardheader {
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #33475B;
    color: white;
    font-size: 18px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.messagecardheader img {
    margin-right: 10px;
}

.messagearea {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.usermessage {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}


.teamsmembermessage {
    width: fit-content;
    border: 1px solid;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin-left: 5px;
    border: none;
}

#messagebox2 {
    resize: none;
    border: none;
    margin-bottom: -3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-left: 10px;
    padding-right: 31px;
    padding-top: 2px;
}

#messagebox2::-webkit-scrollbar {
    display: none;
}

textarea:focus {
    border: none;
    outline: none;
}

#messagebox2::placeholder {
    padding-top: 2px;
    font-family: 'Barwol', 'Helvetica';
}

.messageinput {
    background-color: #FFFFFF;
}

.messageinput img {
    position: absolute;
    right: 0px;
    bottom: 3px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    max-height: 500px;
    overflow-y: auto;
    background-color: #f5f5f5;
}

.chatbotlanding{    
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.4;
}
.chatbotlanding.user {
    background-color: #FFFFFF;
    align-self: flex-end;
}
.chatbotlanding.admin {
    background-color: #FFFFFF;
    align-self: flex-start;
    
}
.tempraroychat {
    display: flex;
    align-items: flex-start;
    margin-left: -20px;

}
.buttonsumbitformchatbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonsumbitformchatbox button {
    padding: 10px;
    border-radius: 5px;
    background-color: #184E7F;
    color: #FFFFFF;
    width: 10rem;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}