.footbardiv {
    background-color: #e7e7fa;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 20px;
    margin-top: 5px;
}

.detailsblock {
    /* border: 1px solid black; */
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-evenly;
}
.divdetials h5 {
    margin: 0px;
    padding: 0px;
    color: #1B1A1A;
    font-size: 18px;
}
.divdetials div {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1B1A1A;
}
.divdetials a {
    cursor: pointer;
    text-decoration: None;
    color: black;
}
.seconddetailslist {
    display: flex;
    justify-content: center;
}

.imageoption {
    display: flex;
    align-items: end;
    position: relative;
    left: 16.6rem;
    bottom: 10px;
}

.imageoption img {
    margin-left: 15px;
    margin-right: 15px;
}

.divdetials2 {
    position: relative;
    left: 4.5rem;
}
.divdetials div{
    cursor: pointer;
}
.divdetials div:hover{
    color: blue;
}
.divdetials a:hover{
    color: blue;
}
.buttoninternship {
    border: none;
    border-radius: 20px;
    background-color: #f58a07;
    width: 15rem;
    color: white;
    padding: 10px;
}

@media screen and (max-width:480px) {
    .footbardiv {
        display: none;
    }

    .seconddetailslist {
        display: none;
    }

}