.SecondPartcontainer {
    background-color: #EBF1F9;
    margin-top: 2rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.SecondPartcontainer h1 {
    font-weight: 400;
    margin-left: 40px;
}

.secondPartWork {
    display: flex;
    justify-content: space-around;
}

.secondPartWork div {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 40px;
    border-radius: 25px
}
.secondPartWork div img{
    margin-right: 40px;
}
@media screen and (max-width:480px) {
    .SecondPartcontainer {
        display: none;
    }

}