.diverror {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (max-width:430px) {
    .errorimage{
        width: 16rem;
    }    
}