body{  
    background-image: url('./Image/lines.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}